html,body{
    width:100%;
    height:100%;
    margin:0 auto;
    padding:0;
    background:#f6f8fa;
}  
.PC{
    display:none;
}
.MP{
    width:100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
}
.tbl{
    height:55px;
    width:70px;
    background:#fff;
}
.b1d9f4{
    background:#dbf0ff;
}               
.tbl:hover{
    background:#b1d9f4;
}  
.toubulan{
    width:100%;
    height:55px;
    background:#fff;
    box-shadow: 0px 10px 5px #a5abb1;
    position: fixed;
    top: 0px;
}   
.guanbi{
    width:45px;
    height:45px;
    display:none;
    float:right;
    background:url('.././图像资源/关闭.png');
    background-size: cover;
} 
.neirong{
    width:100%;
    background:#fff;
    padding: 12px 7px 12px 7px;
    height:100%;
}
.weikaifang:hover{
    background:#29323a;
    color:#dfdfdf;
}
.fanhui{
    width:55px;
    height:55px;
    border-radius:50%;
    position: fixed;
    bottom:95px;
    left:20px;
    background:#6dade77d;
}
.caidan{
    width:55px;
    height:55px;
    border-radius:50%;
    position: fixed;
    bottom:25px;
    left:20px;
    background:#6dade77d;
}
.shipin{
    width:100%;
    height:38px;
    background:#b8ecff;
}
.tuijian{
    width:100%;
    height:250px;
    background:#fafafa;
    overflow:auto;
    transition: height 0.4s;
}
.shipinming{
    width:220px;
    height:46px;
    overflow-x: scroll;
} 
.shipinzhankuang{
    width:220px;
    float:left; 
    margin:5px 5px 5px 5px;
    border: 2px solid #5e5e5e;
}
.tuijian-img{
    width:100%;
    height:140px;
}
.dibulan{
    width:96%;
    height:0px;
    background:#ededed;
    position: fixed;
    bottom:25px;
    left:2%;
    transition:height 0.4s;
}
a{
    text-decoration:none;
    color:black;
} 
.p-1{
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    line-height: 0px;
}
.p-2{
    font-weight: lighter;
    color:#5e5e5e;
    text-align: right;
    line-height: 5px;
}
.sousuokuang{
    width:90px;
    height:50px;
    transition:width 0.8s;
}
.sousuokuang:focus{
    width:135px;
}
::-webkit-scrollbar {
    width:0px;
}