html,body{
    width:100%;
    height:100%;
    margin:0 auto;
    padding:0;
    background:#f6f8fa;
}
.PC{
    width:100%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
}
.MP{
    display:none;
}
.tanchuang{
    border-radius:20px;
    position: fixed;
    height:0px;
    width:390px;
    background:#1379cee3;
    bottom:15px;
    right:20px;
    padding: 0px 10px 0px 10px;
    transition: height 0.5s;
    z-index:2;
}
.tbl{
    height:60px;
    width:88px;
    background:#fff;
}
.b1d9f4{
    background:#dbf0ff;
}               
.tbl:hover{
    background:#b1d9f4;
}  
.toubulan{
    width:100%;
    height:60px;
    background:#fff;
    box-shadow: 0px 10px 5px #a5abb1;
    position: fixed;
    top: 0px;
}
#dncd{
    width:500px;
    background:#fff;
    box-shadow: 0px 10px 5px #a5abb1;
    height:0px;
    position: fixed;
    top:66px;
    left:1px;
    transition:height 0.6s;
    overflow:hidden;
}
.dncdnr{
    height:80px;
    width:110px;
    background:#fff;
    float:left;
    margin:8px 8px 8px 8px;
}
.dncdnr:hover{
    box-shadow: 0px 6px 6px 2px #a5abb1;
}
.guanbi{
    width:45px;
    height:45px;
    position:absolute;
    background:url('.././图像资源/关闭.png');
    background-size: cover;
} 
.juzhong{
    width:80%;
    height:75%;
    margin:0 auto;
    background:#fff;
    box-shadow: 0px 10px 10px #a5abb1;
    padding: 35px 50px 50px 35px;
}
.weikaifang:hover{
    background:#29323a;
    color:#dfdfdf;
}
.fanhui{
    width:55px;
    height:55px;
    border-radius:50%;
    position: fixed;
    bottom:20px;
    left:20px;
    background:#6dade77d;
}
.ziweizhi{
    text-align:center;
    line-height:24px;
}
.shipinxinxi{
    width:50%;
    height:145px;
    overflow:auto;
} 
.shipinzhankuang{
    width:97.5%;
    margin:5px 5px 5px 5px;
    border: 2px solid #5e5e5e;
}
.tuijian-img{
    width:44%;
    height:145px;
    float:left;
}
.daojishiwaikuang{
    width:273px;
    height:273px;
    border: 35px solid green;
    border-radius:50%;
}
a{
    text-decoration:none;
    color:black;
} 
.p-1{
    font-weight: bold;
    text-align: left;
}
.p-2{
    font-weight: lighter;
    color:#5e5e5e;
    text-align: right;
}
.sousuokuang{
    width:140px;
    height:54px;
    transition:width 1s;
}
.sousuokuang:focus{
    width:330px;
}
.boketi{
     width:99.8%;
     height:35px;
     background:#fff;
     box-shadow: 1px 4px 4px #a5abb1;
}
.boke{
}
.shipin{
    width:100%;
    height:60%;
    float:left;
    overflow:auto;
    box-shadow: 1px 6px 6px #a5abb1;
}
.zuo{
    width:49.9%;
    height:100%;
    float:left;
}
.zhong{
    width:0.1%;
    height:100%;
    background:#363636;
    float:left;
}
.mokuai3{
    width:100%;
    height:40%;
    overflow:auto;
    box-shadow: 1px 6px 6px #a5abb1;
}
.you{
    width:49.9%;
    height:100%;
    float:right;
}
::-webkit-scrollbar {
    width:0px;
}